
<div class="front">
  <div class="github"><a href="https://github.com/ayosec"><img alt="GitHub profile" src="images/github-color.png"></a></div>
  <div class="tumblr"><a href="http://blog.ayosec.com/"><img alt="Tumblr blog" src="images/tumblr-color.png"></a></div>
  <div class="twitter"><a href="https://twitter.com/ayosec"><img alt="Twitter timeline" src="images/twitter-color.png"></a></div>
  <div class="flickr"><a href="http://www.flickr.com/photos/setepo/"><img alt="Flickr pictures" src="images/flickr-color.png"></a></div>
</div>
